/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

*{
    font-family: 'Gamja Flower', cursive;
}


body {
    background-color: #f1efdd; /* 배경색 설정 */
    /* height: 100vh;  */
    margin-top: 100px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* title 태그 스타일링 */
.blog-head {
    /* background-size: cover; */
    width: 100%;
    height: 100px;
    background-color: black;
    font-size: 25px;
    color: orange;
    position:fixed;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blog-image{
    margin-right: 20px;
    /* width: 100px; */
    /* src:url("imgteam.png"); */
     max-width: 90px; 
    border-radius: 50%;
    height: auto; 
}

/* .blog-name{
} */

.blog-box {
    margin: 10px;
    top:10;
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#post-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blog-post-box{
    width: 400px;
    height: 350px;
    border-radius: 10px;
    margin: 10px;
    padding-top: 50px;
    
    background-image: url("imgmemo.png");
    background-position: top;
    background-size: 400px;
}

.post {
    padding: 20px;
    height: 150px;
    /* border: 1px solid #2B3856; */
}

.post-content {
    /* padding: 20px; */
    /* height: 150px; */
    /* border: 1px solid #2B3856; */
    height: 150px;
    max-height: 150px;
    overflow-y: auto; 
}



.post-title {
    font-size: 20px;
    font-weight: bold;
}

.post-date {
    color: #666;
}

.comment-box {
    /* border: 1px solid #2B3856; */
    /* width: 400px; */
    height: 140px;
    /* padding: 20px; */
    padding-left: 20px;
    padding-right: 20px;
}

.comment-container {
    border: 1px solid #2B3856;
    /* width: 50; */
    /* padding: 20px; */
    height: 110px;
    max-height: 110px;
    overflow-y: auto; 
}

.comment {
    /* height: 10; */
    flex-direction: column;
    /* border: 1px solid #2B3856; */
    padding-left: 5px;
    padding-right: 5px;

}

/* .comment-name {
    width: 350px;
    text-align: center;
} */


.comment-input{
    top : 0;
    /* padding-bottom: 10px; */
    /* padding-left: 10px; */
    right : 0;
    /* border: 1px solid #2B3856; */
}

.comment-button {
    color: black; /* 텍스트 색상을 노란색으로 설정 */
    /* border: 1px solid #2B3856; */
    cursor: pointer; /* 커서 모양을 포인터로 변경하여 클릭 가능한 버튼임을 표시 */
    /* font-size: 15px;  */
    border-radius: 10px; /* 버튼의 모서리를 10px로 둥글게 설정 */
    padding: 2px;
    margin: 4px;
    width: 30px;
    
    
}


#blog-posting-button {
    /* justify-content: center; */
    margin: 5px;
    background-color: black; /* 배경색을 검은색으로 설정 */
    color: orange; /* 텍스트 색상을 노란색으로 설정 */
    padding: 10px 20px; /* 버튼 내 여백 설정 (상하 10px, 좌우 20px) */
    border: none; /* 버튼 테두리 제거 */
    cursor: pointer; /* 커서 모양을 포인터로 변경하여 클릭 가능한 버튼임을 표시 */
    font-size: 16px; /* 글꼴 크기 설정 */
    border-radius: 10px; /* 버튼의 모서리를 10px로 둥글게 설정 */
    margin: 10px;
}

button {
    /* justify-content: center; */
    margin: 5px;
    background-color: black; /* 배경색을 검은색으로 설정 */
    color: orange; /* 텍스트 색상을 노란색으로 설정 */
    padding: 10px ;
    border: none; /* 버튼 테두리 제거 */
    cursor: pointer; /* 커서 모양을 포인터로 변경하여 클릭 가능한 버튼임을 표시 */
    font-size: 16px; /* 글꼴 크기 설정 */
    border-radius: 10px; /* 버튼의 모서리를 10px로 둥글게 설정 */
    margin: 10px;
}

.menu-buttons {
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    top:0;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}